@page "/Competitions"
@inject BrewCompDbContext Context

<h3>Competitions</h3>

@if(_competitions == null)
{
    <p><em>Loading Data...</em></p>
} else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Competition Name</th>
                <th>Registration Dates</th>
            </tr>
        </thead>
        @foreach(var comp in _competitions)
        {
            <tr>
                <td><a href="/Competition/@comp.Id">@comp.Name</a></td>
                <td>
                    <strong>Opens:</strong><BlazorTime.ToLocal DateTime=@comp.CompetitionDates.StartDate Format="yyyy-mm-dd hh:MM TT"/><br />
                    @if(comp.CompetitionDates.EndDate.HasValue)
                    {
                        <strong>Ends: </strong><BlazorTime.ToLocal DateTime=@comp.CompetitionDates.EndDate.Value Format="yyyy-mm-dd hh:MM TT"/>
                    }
                </td>
            </tr>
        }
    </table>
}
@code {
    private Competition[]? _competitions;

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _competitions = Context.Competitions.ToArray();
    }
}
