@page "/Competitions"
@inject BrewCompDbContext Context
@using NodaTime
@using NodaTime.TimeZones
@using NodaTime.Text

<h3>Competitions</h3>

@if(_competitions == null)
{
    <p><em>Loading Data...</em></p>
} else
{
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Competition Name</th>
                <th>Registration Dates</th>
            </tr>
        </thead>
        @foreach(var comp in _competitions)
        {
            <tr>
                <td><a href="/Competition/@comp.Id">@comp.Name</a></td>
                <td><strong>Opens: </strong>@_formatter.Format(comp.RegistrationDates.Start.InZone(_tz))<br />
                    <strong>Ends: </strong>@_formatter.Format(comp.RegistrationDates.End.InZone(_tz))

                </td>
            </tr>
        }
    </table>
}
@code {
    private Competition[]? _competitions;

    private DateTimeZone _tz = BclDateTimeZone.ForSystemDefault();
    private IPattern<ZonedDateTime> _formatter = ZonedDateTimePattern.CreateWithCurrentCulture("yyyy-MM-dd h:mm tt", NodaTime.DateTimeZoneProviders.Bcl);

    protected override void OnInitialized()
    {
        base.OnInitialized();
        _competitions = Context.Competitions.ToArray();
    }
}
