@page "/Competitions"
@page "/Competition"
@inject BrewCompDbContext Context
@using BlazorBootstrap

<h3>Competitions</h3>

<Grid TItem="Competition" class="table table-hover table-bordered table-striped" DataProvider="CompProvider"
      AllowFiltering="true" AllowPaging="true" PageSize="25" AllowSorting="true" Responsive="true">
    
      <GridColumn TItem="Competition" HeaderText="Competition Name" PropertyName="Name" 
          SortString="Name" SortKeySelector="comp => comp.Id" HeaderTextAlignment="Alignment.Center">
          <a href="Competition/@context.Id">
            @context.Name
          </a>
      </GridColumn>
      <GridColumn TItem="Competition" HeaderText="Competition Dates" PropertyName="CompetitionDates" HeaderTextAlignment="Alignment.Center"
          Sortable=true>
        <BlazorTime.ToLocal DateTime=@context.CompetitionDates.StartDate Format="yyyy-mm-dd hh:MM TT"/>
        @if(context.CompetitionDates.EndDate.HasValue)
        {
            @(" - ") 
            <BlazorTime.ToLocal DateTime=@context.CompetitionDates.EndDate.Value Format="yyyy-mm-dd hh:MM TT" />
        }
      </GridColumn>
      <GridColumn TItem="Competition" HeaderText="Entries" HeaderTextAlignment="Alignment.Center">
          @context.Entries.Count
      </GridColumn>
</Grid>

@code {

    private async Task<GridDataProviderResult<Competition>> CompProvider (GridDataProviderRequest<Competition> request)
    {
        return await Task.FromResult(request.ApplyTo(Context.Competitions));
    }

}
