@page "/"

<PageTitle>BrewComp.NET Homebrew Competition Software</PageTitle>

<h1>Homepage</h1>

This page will contain information about the hosting company of the software. Often times this will be a homebrew club that hosts at least one annual competition. 
