@using System.ComponentModel.DataAnnotations
@using BlazorBootstrap

@inject ILogger<DateRangePicker> _logger

<div class="form-group mb-3">
    <h6>@(
            Title + ":"
            )@if (Required && Enabled)
        {
            <span class="text-danger"> *</span>
        }
    </h6><hr />
    <div class="row row-cols-2 gx-3" >
        <div class="col">
           <label for="startDate" class="form-label">Start Date:</label>
           <input type="datetime-local" id="startDate" class="form-control" @bind-Value=startDate @bind-Value:event="oninput" @onchange="StartDateChanged" 
                disabled="@(!Enabled)" step="60"/>

        </div>
        <div class="col">
            <label for="endDate" class="form-label">End Date:</label>
            <input type="datetime-local" id="endDate" class="form-control" @bind-Value=endDate @bind-Value:event="oninput" @onchange=EndDateChanged
                   min="@cutoff" disabled="@(!Enabled)" step="60"/>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EditContext Context { get; set; } = null!;

    [Parameter]
    public string Title { get; set; } = null!;

    private DateRange _range = default!;

    [Parameter]
    public DateRange Value { 
        get {
            DateTime start = startDate.ToUniversalTime();
            DateTime end = endDate.ToUniversalTime();
            if(_range.StartDate != start || _range.EndDate != end)
            {
                _logger.LogInformation($"Creating new DateRange: {start}-{end} (UTC)");
                _range = new DateRange(start, end);
            }
            return _range;
        }
        set {
            if (_range == value) return;
            _range = value;
            ValueChanged.InvokeAsync(value);
        }
    }

    [Parameter]
    public EventCallback<DateRange> ValueChanged { get; set; }

    private DateTime startDate { get; set; } = DateTime.Today;
    private DateTime endDate { get; set; } = DateTime.Today.AddMonths(1);

    private string cutoff => startDate.ToString("s");

    [Parameter]
    public bool Required { get; set; } = false;

    public bool Enabled { get; set; } = true;

    private void StartDateChanged(ChangeEventArgs args)
    {
        if(DateTime.TryParse(args?.Value?.ToString(), out var date))
        {
            startDate = date;

            if(endDate <= date ) // Moved starting date beyond what endDate was
            {
                if(endDate.TimeOfDay < date.TimeOfDay)
                {
                    //Need to move time forward to match new date's time
                    endDate = date;
                } else
                {
                    //Can leave time the same and just have to change the date
                    endDate = date.Date.Add(endDate.TimeOfDay);
                }
            }
            ValueChanged.InvokeAsync(this.Value);
        }
    }

    private void EndDateChanged(ChangeEventArgs args)
    {
        if (DateTime.TryParse(args?.Value?.ToString(), out var date))
        {
            endDate = date;
            if(endDate.Date == startDate.Date)
            {
                //now on same day, need to check times
                if(endDate.TimeOfDay <= startDate.TimeOfDay)
                {
                    // Match them up
                    endDate = startDate;
                }
            }
            ValueChanged.InvokeAsync(this.Value);
        }
    }
}

