    <div class="dropdown">
        <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="oi-people">Menu</span>
        </button>
        <ul class="dropdown-menu">
            <AuthorizeView>
                <Authorized>
                    <li><h6 class="dropdown-header">Hello, @context?.User?.Identity?.Name!</h6></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a href="Identity/Account/Manage">Profile</a></li>
                    <li>
                        <form method="post" action="Identity/Account/LogOut">
                            <button type="submit" class="nav-link btn btn-link">Log out</button>
                        </form>
                    </li>
                </Authorized>
                <NotAuthorized>
                    <li><a href="Identity/Account/Register">Register</a></li>
                    <li><a href="Identity/Account/Login">Log in</a></li>
                </NotAuthorized>
            </AuthorizeView>
        </ul>
    </div>
