<div class="dropdown">
    <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
        <i class="bi bi-person-circle" style="font-size: 2rem;"></i>
    </button>
    <ul class="dropdown-menu">
        <AuthorizeView>
            <Authorized>
                <li><h6 class="dropdown-header">Hello, @context?.User?.Identity?.Name!</h6></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="Identity/Account/Manage">Profile</a></li>
                <li><a href="Identity/Account/LogOut">Log out</a></li>
            </Authorized>
            <NotAuthorized>
                <li><a href="Identity/Account/Register">Register</a></li>
                <li><a href="Identity/Account/Login">Log in</a></li>
            </NotAuthorized>
        </AuthorizeView>
    </ul>
</div>
